.account-content {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 11px;
    border-bottom: 1px solid #ccc;
}

.slds-text-body_regular {
    margin-bottom: 1rem; /* Adds spacing between paragraphs */
}
